html {
  height: 100%;
}

body {
  margin: 0;
  background-color: #111;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 200;
  font-size: 17px;
  overflow: hidden;
  padding: 0;
  height: 100%;
}

#map-holder {
  background: #2A2C39;
  height: 100%;
}

.image-icon img {
    height: 40px ;
    width: 40px ;
    border-radius: 50%;
    border: solid;
    border-color: #410b41;
}

.country{
  fill: #d0d0d0;   /* country colour */
  stroke: #2A2C39; /* country border colour */
  stroke-width: 1; /* country border width */
}
.country-on{
  fill: #4B5358;   /* highlight colour for selected country */
}
/*.countryLabel{
  display: none;    hide all country labels by default 
*/}
.countryName{
  fill: #FFFAFF;   /* country label text colour */
}
.countryLabelBg{
  fill: #30BCED;   /* country label background colour */
}


/* #sidebar {
  overflow: hidden;
  background-color: #333;
} */

#navbar {
  overflow: hidden;
  background-color: #333;
  grid-column: 1 / 3;
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr) 7fr;
}

/* Navbar links */
#navbar a {
  height: 100%;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
#navbar a.active {
  background-color: #04AA6D;
  color: white;
}