html {
  height: 100%;
}

a {
  color: white;
}

body {
  margin: 0;
  background-color: #111;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 200;
  font-size: 17px;
  overflow: hidden;
  padding: 0;
  height: 100%;
}

#map-holder {
  background: #2A2C39;
  height: 100%;
}

.image-icon img {
    height: 40px ;
    width: 40px ;
    border-radius: 50%;
    border: solid;
    border-color: #410b41;
}

.country{
  fill: #d0d0d0;   /* country colour */
  stroke: #2A2C39; /* country border colour */
  stroke-width: 1; /* country border width */
}
.country-on{
  fill: #4B5358;   /* highlight colour for selected country */
}

.countryName{
  fill: #FFFAFF;   /* country label text colour */
}
.countryLabelBg{
  fill: #30BCED;   /* country label background colour */
}

.select2-container {
  color: black;
}