/*img.loading {
    background: transparent url(loading.gif) no-repeat scroll center center;
}
*/



body.oldest{
  background-image: url('scroll.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  font-family: 'Eagle Lake', cursive;
  font-size: 16px;
}

body.older{
  background-image: url('old_page.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
 
}

body.old{
  background-image: url('old_page.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Berkshire Swash', cursive;
}

body{
  background-color: #bebebe;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  font-family: 'Montserrat';
  font-size: 22px;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar{
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  font-family: 'Montserrat';
  font-size: 22px;
  display: none;  
}



.grid-container {
  display: grid;
  /*width: 100vw;
  height:80vh;*/
  grid-template-columns: 0.1fr 1fr 1fr 1fr 1fr 0.1fr;
  grid-template-rows: auto auto auto auto auto;
  gap: 0px 0px;
  grid-template-areas:
    ". . . . . ."
    ". Basic-Info Basic-Info Basic-Info Image ."
    ". Basic-Info Basic-Info Basic-Info Image ."
    ". Summary Summary Summary Summary ."
    ". . . . . .";
}

.Image { 
  grid-area: Image; 
  /*border:0.75em black solid;*/
  overflow:hidden;
  /*align-items: right*/
  /*object-fit: fill;*/
}

img.loading{
   max-width: 100%;

   /*background: transparent url(loading.gif) no-repeat scroll center center;*/
 }

.Basic-Info { grid-area: Basic-Info; }

.Summary { grid-area: Summary; }

a {
  color: #bc6ff1
}
a:visited {
  color: #bc6ff1
}

a.morelink {
  text-decoration:none;
  outline: none;
}
.morecontent span {
  display: none;
}

b.placeholder{
  color: #777777
}