html {
  height: 100%;
}

a {
  color: white;
}

/*.leaflet-popup {
    width:500px ;
    height: 500px ;
}
*/
/*.leaflet-popup-content {
      width: 500px ;
      height: 500px ;
  }*/

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: #2a2c39;
}

body {
  margin: 0;
  background-color: #111;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 200;
  font-size: 17px;
  overflow: hidden;
  padding: 0;
  height: 100%;
}

#map-holder {
  background: #2a2c39;
  height: 100%;
}

.image-icon_d img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid;
  border-color: #410b41;
}

.image-icon_a img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #bada55;
}

.country {
  fill: #d0d0d0; /* country colour */
  stroke: #2a2c39; /* country border colour */
  stroke-width: 1; /* country border width */
}
.country-on {
  fill: #4b5358; /* highlight colour for selected country */
}

.countryName {
  fill: #fffaff; /* country label text colour */
}
.countryLabelBg {
  fill: #30bced; /* country label background colour */
}

.select2-container {
  color: black;
}

.lifespan-input {
  margin-top: 2vh;
}

.lifespan-input input {
  float: right;
  width: 70%;
}

.lifespan-input label {
  text-align: right;
  clear: both;
  float: left;
}

.lifespan-controls {
  float: right;
  margin-top: 5vh;
}

.popup-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.popup-summary {
  grid-column: 1 / 4;
}

.popup-info {
  grid-column: 3;
}

.select2-selection--multiple:after {
  content: "";
  position: absolute;
  right: 10px;
  top: 15px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #888;
}
