/*img.loading {
    background: transparent url(loading.gif) no-repeat scroll center center;
}
*/

body{
  font-family: 'Montserrat';font-size: 22px;
}

.grid-container {
  display: grid;
  /*width: 100vw;
  height:80vh;*/
  grid-template-columns: 0.1fr 1fr 1fr 1fr 1fr 0.1fr;
  grid-template-rows: 0.1fr 1fr auto auto 0.1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . . . ."
    ". Basic-Info Basic-Info Image Image ."
    ". Basic-Info Basic-Info Image Image ."
    ". Summary Summary Summary Summary ."
    ". . . . . .";
}

.Image { 
  grid-area: Image; 
  /*border:0.75em black solid;*/
  overflow:hidden;
  /*align-items: right*/
  /*object-fit: fill;*/
}

img.loading{
   max-width: 60%;

   /*background: transparent url(loading.gif) no-repeat scroll center center;*/
 }

.Basic-Info { grid-area: Basic-Info; }

.Summary { grid-area: Summary; }

a {
  color: #bc6ff1
}
a:visited {
  color: #bc6ff1
}

a.morelink {
  text-decoration:none;
  outline: none;
}
.morecontent span {
  display: none;
}